/*style.css*/
:root {
    --fg-color: #01010180; /*#eceff4 was the value before but it was hard to read*/
    --bar-color: #2e3440;
    --el-color: #434c5e;
    --bg-color: #d8dee9;
    --accent-color: #5e81ac;
    --yes-color: #a3be8c;
    --shadow-color: #01010180;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding-bottom: 20px;
    background-color: #d8dee9;
    color: #01010180;

}

header {
    font-family:'Times New Roman', Times, serif;
    background-color: #2e3440;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header {
    background-color: #2e3440;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h1, h2 {
    color: #5e81ac;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2e3440;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #5e81ac;
}

a:hover {
    color: #a3be8c;
}
img {
    border: 15px solid;
    color: #434c5e;

 }
table {
    text-align: center;
    line-height: 2;

}
th1 {
    height: 70px;
}